<header>
    <a href="#">DevOps Demo</a>
    <nav>
      <ul>
        <li><a href="#">User List</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
</header>
<div class="container">
  <h1>User List</h1>
  <div class="form-container">
  <form [formGroup]="form" (ngSubmit)="addUser()">
    <div class="form-item">
      <label>Name:</label>
      <input type="text" formControlName="name">
    </div>
    <div class="form-item">
      <label>Email:</label>
      <input type="text" formControlName="email">
    </div>
    <div class="form-item">
      <label>Role:</label>
      <input type="text" formControlName="role">
    </div>
    <div class="form-item">
      <label>Department:</label>
      <input type="text" formControlName="department">
    </div>
    <div class="form-item">
      <label>Contact:</label>
      <input type="text" formControlName="contact">
    </div>
    <p>
      <button type="submit" [disabled]="!form.valid">Submit</button>
    </p>
  </form>
  </div>
  <div class="item-list">
    <app-user class="item" *ngFor="let user of users" [user]="user" (updateEvent)="updateUser($event)" (deleteEvent)="deleteUser($event)">
    </app-user>
  </div>
</div>
